.item-note1 {
  .lastUpdated {
    position: absolute;
    top: 16px;
    right: 38px;
    font-size: 14px;
    color: #9A9898;
  }
}

.login {
  .instructions {
    margin: 50px 0;
    padding: 0 15px;
  }
}
  .picture {
    padding: 4px 4px 0;
 
    img {
      width: 220px;
      height: 130px;
      border-radius: 6px;
    }
  }
  

