<ion-view title="Your phone number">
  <ion-nav-buttons side="right">
    <button ng-click="logger.login()" ng-disabled="!logger.phone || logger.phone.length === 0" class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>
  <ion-content class="login">
    <div class="text-center instructions">
        Please enter your user name and password, if you don't have any, please register your username and password.'
    </div>
    <div class="list">
      <label class="item item-input">
        <input ng-model="logger.phone" type="text" placeholder="User name">
      </label>
      <label class="item item-input">
        <input ng-model="logger.passcode" on-return="logger.login()" type="password" placeholder="Pass code">
      </label>
    </div>
  </ion-content>

</ion-view>