<ion-view title="{{note.data.title}}">

    <ion-content class="chat">
        <div>
            <label class="item item-input">
                <input type="text" ng-model="note.data.title">
            </label>
            <label class="item item-input">
                <textarea ng-model="note.data.note"> </textarea>
            </label>
        </div>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        
        <span ng-if="note.data.note.length > 0">
            <button side="left" class="button button-clear button-positive">Clear</button>
            <button side="right" ng-click="note.save()" class="button button-clear button-positive">Save</button>
        </span>

    </ion-footer-bar>

</ion-view>