<ion-view view-title="Notes">
 
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="note in notes.data | orderBy:'-lastUpdatedtime'" class="item-chat item-note1 item-remove-animate item-avatar item-icon-right"
            type="item-text-wrap" href="#/tab/notes/{{note._id}}">
                <h2>{{note.title}}</h2>
                <p>{{note.note}}</p>
                <span class="lastUpdated">{{note.lastUpdatedtime | calendar}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="notes.remove(note)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="notes.copy(note)">
                    Copy
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <label class="item item-input item-block input-block" style="width: 100%;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="notes.ssg" placeholder="Search for Notes Title">
        </label>
    </ion-footer-bar>
</ion-view>